:root {
  --blue-main: #0065fc;
  --blue-second: #deebff;
  --grey-main: #f2f2f2;
  --white-main: #ffffff;
}

/* Police intégrée */
@font-face {
  font-family: "Raleway-Regular";
  src: url(./font/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway-bold";
  src: url(./font/Raleway-Bold.ttf);
}

/* * {
  padding: 0;
  margin: 0;
} */

/* Changement globaux */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
}
.bloc_page {
  width: 90%;
  margin: 0 auto;
}

.h2_bold {
  font-size: 1.3rem;
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 1rem;
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
span {
  font-weight: 700;
}
.icon {
  color: var(--blue-main);
}
.icon_grey {
  color: var(--grey-main);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  transform: scale(0.6);
}
nav a {
  margin-right: 15px;
  padding: 20px;
}

nav a:hover,
nav a:focus {
  color: var(--blue-main);
  border-top: 3px solid var(--blue-main);
}

/* BARRE DE RECHERCHE */
section {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.form {
  padding: 15px;
  font-size: 20px;
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}
.fa-location-dot {
  background: var(--grey-main);
  border-radius: 50% 0 0 50%;
  width: 25px;
  text-align: center;
}
input {
  border: 0px;
  border-top: 1px solid var(--grey-main);
  border-bottom: 1px solid var(--grey-main);
}

.btn_search {
  background: var(--blue-main);
  color: var(--white-main);
  border-radius: 0 15px 15px 0;
  border: none;
  cursor: pointer;
}
.icon_search {
  display: none;
  cursor: pointer;
}

/* FILTRE DE RECHERCHE */
.flex_filter {
  display: flex;
  flex-direction: column;
  margin: 25px 0 25px 0;
}
.flex_row {
  display: flex;
  flex-wrap: wrap;
}
.filter {
  display: flex;
  margin: 15px;
  border: 3px solid var(--grey-main);
  border-radius: 30px;
}
.icon_filter {
  color: var(--blue-main);
  background: var(--blue-second);
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter p {
  margin: 0;
  padding: 10px;
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}
.filter:hover {
  border: 3px solid var(--blue-second);
  background: var(--grey-main);
  cursor: pointer;
}

/* information */
.fa-info {
  height: 15px;
  width: 15px;
  color: var(--blue-main);
  border: 2px solid var(--grey-main);
  text-align: center;
  padding: 3px;
  border-radius: 50%;
}

/* DIV LOGEMENT */

/* Placement: aside / article */
.aside_article {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

/* dimension aside "populaire"*/
.aside_popular {
  background: var(--grey-main);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  padding: 12px;
  border-radius: 25px;
}

/* dimension article "hébergements" */
.article_1 {
  background: var(--grey-main);
  width: 60%;
  padding: 12px;
  border-radius: 25px;
}

/* Style général des cartes */
.color_card {
  background-color: var(--white-main);
  border: 5px solid var(--white-main);
  box-shadow: 0px 0px 15px gray;
  border-radius: 20px;
}
.star {
  display: flex;
  font-size: 12px;
  padding-top: 20px;
}

/* ASIDE */

/* icon h1 */
.h2_icon {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon_title {
  font-size: 25px;
}

/* cartes aside */
.flex_aside {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card_aside {
  display: flex;
  height: 140px;
  margin: 0 25px;
}

.img_aside {
  width: 40%;
}
.img_aside img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.text_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
}
.text_card p,
.text_card h3 {
  padding: 0;
  margin: 0;
}
.text_card p {
  font-size: 14px;
}

/* ARTICLE 1 */

/* placement des cartes hébergement à Marseille  */
.article_card {
  display: flex;
  justify-content: space-around;
}
.card_article {
  width: 275px;
  height: 200px;
  margin: 20px 10px;
}
.img_article {
  width: 100%;
  height: 60%;
}
.img_article img {
  height: 100%;
  border-radius: 15px 15px 0 0;
  width: 100%;
  object-fit: cover;
}

/* TEST 1480px */
@media all and (max-width: 1480px) {
  .aside_article {
    flex-direction: column;
  }
  .aside_popular {
    width: 100%;
    margin-bottom: 25px;
  }
  .article_1 {
    width: 100%;
  }
  /* ASIDE */
  .flex_aside {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
  }
  .card_aside {
    width: 100%;
    margin: 10px 0;
  }

  /* ARTICLE */
  .card_article {
    width: 90%;
    margin: 10px auto;
  }
}

/* VERSON 992px */
@media all and (max-width: 992px) {
  /* dimension de la page */
  .bloc_page {
    width: 100%;
  }
  .flex_aside {
    flex-direction: column;
  }
  .aside_popular {
    width: 95%;
    margin: 0 auto;
  }
}

/* VERSION MOBILE HEADER */
@media all and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  nav {
    width: 100%;
    display: flex;
    text-align: center;
  }
  nav a {
    margin: 0;
    width: 50%;
  }
  nav a:hover,
  nav a:focus {
    border-top: 3px solid var(--white-main);
    border-bottom: 3px solid var(--blue-main);
  }

  /* VERSION MOBILE SECTION  */
  section {
    margin-left: 10%;
  }
  input {
    width: 60%;
  }
  .word_search {
    display: none;
  }
  .icon_search {
    display: block;
    background: var(--blue-main);
    color: var(--grey-main);
    border-radius: 10px 10px 10px 10px;
  }
}

@media all and (max-width: 768px) {
  .aside_popular {
    width: 100%;
  }
  .article_card {
    display: flex;
    flex-direction: column;
  }
  .flex_aside {
    flex-direction: column;
  }
}
