/* Variable de couleur */
:root {
  --blue-main: #0065fc;
  --blue-second: #deebff;
  --grey-main: #f2f2f2;
  --white-main: #ffffff;
}

/* Police intégrée */
@font-face {
  font-family: "Raleway-Regular";
  src: url(./font/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway-bold";
  src: url(./font/Raleway-Bold.ttf);
}

/* Effet de scrolling */
html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Changement globaux */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
}

.bloc_page /* Dimension Desktop */ {
  width: 90%;
  margin: 0 auto;
}

.h2_bold {
  font-size: 1.3rem;
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 1rem;
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
span /* pour les € en gras */ {
  font-weight: 700;
}
.icon /* Étoiles en bleu */ {
  color: var(--blue-main);
}
.icon_grey /* Étoiles en gris */ {
  color: var(--grey-main);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo du site */
.logo img {
  margin-left: 20px;
}

/* Barre de navigation */
nav a {
  margin-right: 15px;
  padding: 20px;
}
nav a:hover,
nav a:focus {
  color: var(--blue-main);
  border-top: 3px solid var(--blue-main);
}

/* BARRE DE RECHERCHE */
section {
  display: flex;
  flex-direction: column;
}

form /*  */ {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.form {
  padding: 15px;
  font-size: 20px;
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}
.fa-location-dot /* Icône avant la recherche */ {
  background: var(--grey-main);
  border-radius: 50% 0 0 50%;
  width: 25px;
  text-align: center;
}
input /* barre de recherche */ {
  border: 0px;
  border-top: 1px solid var(--grey-main);
  border-bottom: 1px solid var(--grey-main);
}

.btn_search /* bouton avec le mot "recherche" */ {
  background: var(--blue-main);
  color: var(--white-main);
  border-radius: 0 15px 15px 0;
  border: none;
  cursor: pointer;
}
/* interactivité avec le bouton */
.btn_search:hover {
  background: var(--blue-second);
  color: var(--blue-main);
  font-size: 20px;
  border: 1px solid var(--blue-main);
  transition: 0.5s;
}
.icon_search /* bouton avec icône version mobile */ {
  display: none;
  cursor: pointer;
}

/* FILTRE DE RECHERCHE */

.flex_filter /* Superposer les filtres et le <p> */ {
  display: flex;
  flex-direction: column;
  margin: 25px 0 25px 0;
}

.flex_row /* Display flex-wrap pour un retour a la ligne */ {
  display: flex;
  flex-wrap: wrap;
}
.filter {
  display: flex;
  margin: 15px;
  border: 3px solid var(--grey-main);
  border-radius: 30px;
}
.icon_filter {
  color: var(--blue-main);
  background: var(--blue-second);
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter p {
  margin: 0;
  padding: 15px;
  font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}
.flex_filter h2 {
  padding-top: 10px;
  margin-right: 25px;
}
.filter:hover /* Survole des filtres */ {
  border: 3px solid var(--blue-second);
  background: var(--grey-main);
  cursor: pointer;
}

/* information */
.fa-info /* Icône I dans le texte */ {
  height: 15px;
  width: 15px;
  color: var(--blue-main);
  border: 2px solid var(--grey-main);
  text-align: center;
  padding: 3px;
  border-radius: 50%;
}

/* DIV LOGEMENT */
/* flex aside et article */
.aside_article {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.aside_popular {
  background: var(--grey-main);
  border-radius: 20px;
  width: 25%;
}
.article_1 {
  background: var(--grey-main);
  border-radius: 20px;
  width: 70%;
}
.article_1 h2 {
  padding-left: 20px;
}

/* class commune */
.color_card {
  height: 135px;
  background: var(--white-main);
  box-shadow: 0 0 5px grey;
  border: 4px solid var(--white-main);
  border-radius: 20px;
}
/* taille des étoiles */
.star {
  font-size: 12px;
}

/* ASIDE */
.card_aside {
  height: 135px;
  margin: 12px 0;
  display: flex;
  margin: 20px;
}
.h2_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 0px 20px;
}

.img_aside /* Dimension des images */ {
  width: 43%;
}
.img_aside img /* Comportement de l'image */ {
  height: 100%;
  width: 100%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.text_card /* Placement du texte */ {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
.text_card h3 {
  margin: 5px 0 11px 0;
  font-size: 15px;
}
.text_card p {
  margin: 0px 0 20px 0;
  font-size: 12px;
}

/* Article */
.h2_article {
  margin: 20px;
}
.article_card /* Placement des cartes */ {
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
}
.card_article {
  height: 200px;
  width: 30%;
  margin: 15px 0;
}
.img_article {
  width: 100%;
  height: 60%;
}
.img_article img {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.text_article {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.text_article h3 {
  margin: 5px 0 0 0;
  font-size: 15px;
}
.text_article p {
  margin: 10px 0;
  font-size: 12px;
}

/* ACTIVITÉS À MARSEILLE */
.activity_article {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.activity_article h2 {
  padding-left: 40px;
}

/* les cartes d'activité */
.all_activity /* Les 6 cartes */ {
  display: flex;
  width: 100%;
}

.three_card /* Les deux paquets de cartes */ {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 500px;
  width: 50%;
  padding-top: 20px;
  grid-gap: 20px;
}
.three_card1 /* Partie gauche des activités à Marseille */ {
  grid-template-areas:
    "port pomegues"
    "port pomegues"
    "port pomegues"
    "port pomegues"
    "port frioul"
    "port frioul";
  padding-right: 10px;
}
.three_card2 /* Seconde partie des activités à Marseille */ {
  grid-template-areas:
    "calanque dame"
    "calanque dame"
    "calanque dame"
    "calanque longchamp"
    "calanque longchamp"
    "calanque longchamp";
  padding-left: 10px;
  margin-bottom: 40px;
}

/* Attribution des noms pour le grid */
#vieux-port {
  grid-area: port;
}
#pomegues {
  grid-area: pomegues;
}
#frioul {
  grid-area: frioul;
}
#calanques {
  grid-area: calanque;
}
#notre-dame {
  grid-area: dame;
}
#longchamp {
  grid-area: longchamp;
}

.card_activity {
  box-shadow: 0px 0px 5px grey;
  border-radius: 20px;
}

.activity_img /* Dimension div pour l'img */ {
  height: 80%;
  width: 100%;
}
#vieux-port .activity_img,
#calanques .activity_img {
  height: 90%;
}
#pomegues .activity_img {
  height: 85%;
}
#frioul .activity_img {
  height: 70%;
}

.activity_img img {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.card_activity h3 {
  padding-left: 20px;
}

/* FOOTER */
footer {
  padding: 40px 20% 40px 0;
  display: flex;
  justify-content: space-around;
  background: var(--grey-main);
}
footer h3 {
  padding-bottom: 5px;
}
footer p {
  margin: 10px 0;
}

/* card cassé / version plus petit écran */
@media all and (max-width: 1180px) {
  /* largeur de la page */
  .bloc_page {
    width: 100%;
  }

  /* Barre de recherche */
  section {
    margin-left: 20px;
  }

  /* Hébergements et plus populaire */
  .aside_article {
    display: flex;
    flex-direction: column;
  }
  .aside_popular {
    width: 100%;
    margin-bottom: 20px;
  }
  .flex_aside {
    display: flex;
  }
  .flex_aside_card {
    width: 35%;
  }
  .card_aside {
    margin: 10px;
  }
  .article_1 {
    width: 100%;
  }

  /* Activité à Marseille */
  .activity_article {
    padding: 0 20px;
  }
}

/* version tablette */
@media all and (max-width: 992px) {
  /* hébergements et les plus populaire */
  .flex_aside {
    flex-direction: column;
  }
  .flex_aside_card {
    width: 100%;
  }
  .article_1 {
    background: var(--white-main);
    margin-bottom: 30px;
  }

  /* Activité à Marseille */
  .all_activity {
    flex-direction: column;
  }
  .three_card {
    width: 95%;
    margin: 0 auto;
    padding: 20px 0 0 0;
  }
  .three_card2,
  .three_card1 {
    padding: 20px 0 0 0;
  }
}

/* Version mobile */
@media all and (max-width: 768px) {
  /* VERSION MOBILE HEADER */
  header {
    flex-direction: column;
  }
  nav {
    width: 100%;
    display: flex;
    text-align: center;
  }
  nav a {
    margin: 0;
    width: 50%;
  }
  nav a:hover,
  nav a:focus {
    border-top: 3px solid var(--white-main);
    border-bottom: 3px solid var(--blue-main);
  }

  /* VERSION MOBILE SECTION  */
  input {
    width: 60%;
  }
  .word_search {
    display: none;
  }
  .icon_search {
    display: block;
    background: var(--blue-main);
    color: var(--grey-main);
    border-radius: 10px 10px 10px 10px;
  }

  .article_card {
    flex-direction: column;
  }
  .card_article {
    width: 100%;
    margin: 10px 0;
  }

  /* Activité à Marseille */
  .three_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 660px;
  }
  .card_activity {
    width: 100%;
    height: 200px;
  }
  #vieux-port .activity_img,
  #calanques .activity_img {
    height: 80%;
  }
  #pomegues .activity_img {
    height: 80%;
  }
  #frioul .activity_img {
    height: 80%;
  }

  /* FOOTER */
  footer {
    flex-direction: column;
    padding-left: 20px;
  }
}
